doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/index.css')
    title= title
  script(src='/javascripts/aframe.min.js')
  script(src='/javascripts/aframe-environment-component.js')
  script(src='/javascripts/firebase.js')  
  script(src='/javascripts/vue.js')
  script(src='/javascripts/firebase-setup.js')
  body
    block content