extends layout

block content
  script.
    position={}
    id="#{id}"
  body(style='margin: 0px; overflow: hidden')
    div#scene
      template(v-if='items')
        a-scene.edit(cursor="rayOrigin: mouse;", embedded)
          template(v-for='(item, index) in items')
            template(v-if='item.geometry === "box"')
              a-box(v-bind:id='index', v-bind:position='getPosition(item)', v-bind:color='item.color', v-bind:scale='getScale(item)', v-bind:rotation='getRotation(item)', v-bind:width='item.width', v-bind:height='item.height', v-bind:depth='item.depth',v-bind:radius='item.radius')
            template(v-else-if='item.geometry === "circle"')
              a-circle(v-bind:id='index', v-bind:position='getPosition(item)', v-bind:color='item.color', v-bind:scale='getScale(item)', v-bind:rotation='getRotation(item)', v-bind:width='item.width', v-bind:height='item.height', v-bind:depth='item.depth',v-bind:radius='item.radius')
            template(v-else-if='item.geometry === "sphere"')
              a-sphere(v-bind:id='index', v-bind:position='getPosition(item)', v-bind:color='item.color', v-bind:scale='getScale(item)', v-bind:rotation='getRotation(item)', v-bind:width='item.width', v-bind:height='item.height', v-bind:depth='item.depth',v-bind:radius='item.radius')
            template(v-else-if='item.geometry === "cylinder"')
              a-cylinder(v-bind:id='index', v-bind:position='getPosition(item)', v-bind:color='item.color', v-bind:scale='getScale(item)', v-bind:rotation='getRotation(item)', v-bind:width='item.width', v-bind:height='item.height', v-bind:depth='item.depth',v-bind:radius='item.radius')
            template(v-else-if='item.geometry === "plane" && environment === "none"')
              a-plane(v-bind:id='index', v-bind:position='getPosition(item)', v-bind:color='item.color', v-bind:scale='getScale(item)', v-bind:rotation='getRotation(item)', v-bind:width='item.width', v-bind:height='item.height', v-bind:depth='item.depth',v-bind:radius='item.radius')
            template(v-else-if='item.geometry === "model"')
              a-entity#camera(v-bind:id='index', v-bind:gltf-model='getModel(item)', v-bind:position='getPosition(item)', v-bind:scale='getScale(item)', v-bind:rotation='getRotation(item)')
          a-entity(camera="active: true; userHeight: 1.6;",look-controls, wasd-controls, listener)
          a-entity(v-bind:environment='environment')
      if(edit)
        div.sliders.overlay-element
          div.input-slider
            button(v-on:click='addObject("box")') Add Object
            template(v-if='currentItem !== "" && currentItem !== null')
              input#width(type="range",min="0",max="25",step="0.1", v-model.number="items[currentItem].width", v-if='attribute === "width"')
              input#height(type="range",min="0",max="25",step="0.1", v-model.number="items[currentItem].height", v-if='attribute === "height"')
              input#depth(type="range",min="0",max="25",step="0.1", v-model.number="items[currentItem].depth", v-if='attribute === "depth"')
              input#radius(type="range",min="0",max="25",step="0.1", v-model.number="items[currentItem].radius", v-if='attribute === "radius"')
              input#position-x(type="range",min="-25",max="25",step="0.1", v-model.number="items[currentItem].position.x", v-if='attribute === "position-x"')
              input#position-y(type="range",min="-25",max="25",step="0.1", v-model.number="items[currentItem].position.y", v-if='attribute === "position-y"')
              input#position-z(type="range",min="-25",max="25",step="0.1", v-model.number="items[currentItem].position.z", v-if='attribute === "position-z"')
              input#rotation-x(type="range",min="-360",max="360",step="1", v-model.number="items[currentItem].rotation.x", v-if='attribute === "rotation-x"')
              input#rotation-y(type="range",min="-360",max="360",step="1", v-model.number="items[currentItem].rotation.y", v-if='attribute === "rotation-y"')
              input#rotation-z(type="range",min="-360",max="360",step="1", v-model.number="items[currentItem].rotation.z", v-if='attribute === "rotation-z"')
              input#scale-x(type="range",min="0",max="25",step="0.1", v-model.number="items[currentItem].scale.x", v-if='attribute === "scale-x"')
              input#scale-y(type="range",min="0",max="25",step="0.1", v-model.number="items[currentItem].scale.y", v-if='attribute === "scale-y"')
              input#scale-z(type="range",min="0",max="25",step="0.1", v-model.number="items[currentItem].scale.z", v-if='attribute === "scale-z"')
          div.attributes(v-if='category !== "" && category !== null')
            template(v-if='category === "dimensions"')
              button(v-on:click='setAttribute("width")') Width
              button(v-on:click='setAttribute("height")') Height
              button(v-on:click='setAttribute("depth")') Depth
              button(v-on:click='setAttribute("radius")') Radius
            template(v-if='category === "position"')
              button(v-on:click='setAttribute("position-x")') X
              button(v-on:click='setAttribute("position-y")') Y
              button(v-on:click='setAttribute("position-z")') Z
            template(v-if='category === "rotation"')
              button(v-on:click='setAttribute("rotation-x")') X
              button(v-on:click='setAttribute("rotation-y")') Y
              button(v-on:click='setAttribute("rotation-z")') Z
            template(v-if='category === "scale"')
              button(v-on:click='setAttribute("scale-x")') X
              button(v-on:click='setAttribute("scale-y")') Y
              button(v-on:click='setAttribute("scale-z")') Z
            //- button(v-on:click='addObject("box")') Add Box
          div.buttons
            button#save(v-on:click='saveScene')
            template(v-if='currentItem !== "" && currentItem !== null')
              button#delete(v-on:click='removeCurrentObject()')
              button#dimensions(v-on:click='setCategory("dimensions")')
              button#position(v-on:click='setCategory("position")')
              button#rotation(v-on:click='setCategory("rotation")')
              button#scale(v-on:click='setCategory("scale")')
          div
            ul(style='color:white')
              li(v-on:click='setEnvironment("forest")') "forest"
              li(v-on:click='setEnvironment("default")')= "default"
              li(v-on:click='setEnvironment("contact")')= "contact"
              li(v-on:click='setEnvironment("egypt")')= "egypt"
              li(v-on:click='setEnvironment("checkerboard")')= "checkerboard"
              li(v-on:click='setEnvironment("japan")')= "japan"
              li(v-on:click='setEnvironment("goaland")')= "goaland"
              li(v-on:click='setEnvironment("goldmine")')= "goldmine"
              li(v-on:click='setEnvironment("threetowers")')= "three towers"
              li(v-on:click='setEnvironment("poison")')= "arches"
              li(v-on:click='setEnvironment("tron")')= "tron"
              li(v-on:click='setEnvironment("oasis")')= "oasis"
      //- video#camera-stream(autoplay, muted, playsinline)

script.
  var camera
