extends layout

block content
  script.
    id="#{id}"
  body(style='margin: 0px; overflow: hidden')
    div#scene
      template(v-if='items.items')
        a-scene.edit(cursor="rayOrigin: mouse;", embedded)
          template(v-for='(item, index) in items.items')
            template(v-if='item.geometry === "box"')
              a-box(v-bind:id='index', v-bind:position='getPosition(item)', v-bind:color='item.color', v-bind:scale='getScale(item)', v-bind:rotation='getRotation(item)', v-bind:width='item.width', v-bind:height='item.height', v-bind:depth='item.depth',v-bind:radius='item.radius')
            template(v-else-if='item.geometry === "circle"')
              a-circle(v-bind:id='index', v-bind:position='getPosition(item)', v-bind:color='item.color', v-bind:scale='getScale(item)', v-bind:rotation='getRotation(item)', v-bind:width='item.width', v-bind:height='item.height', v-bind:depth='item.depth',v-bind:radius='item.radius')
            template(v-else-if='item.geometry === "sphere"')
              a-sphere(v-bind:id='index', v-bind:position='getPosition(item)', v-bind:color='item.color', v-bind:scale='getScale(item)', v-bind:rotation='getRotation(item)', v-bind:width='item.width', v-bind:height='item.height', v-bind:depth='item.depth',v-bind:radius='item.radius')
            template(v-else-if='item.geometry === "cylinder"')
              a-cylinder(v-bind:id='index', v-bind:position='getPosition(item)', v-bind:color='item.color', v-bind:scale='getScale(item)', v-bind:rotation='getRotation(item)', v-bind:width='item.width', v-bind:height='item.height', v-bind:depth='item.depth',v-bind:radius='item.radius')
            template(v-else-if='item.geometry === "model"')
              //- a-entity(v-bind:id='index', v-bind:gltf-model='getModel(item)', v-bind:position='getPosition(item)', v-bind:scale='getScale(item)', v-bind:rotation='getRotation(item)')
              a-assets
                a-asset-item(v-bind:id="index + '-obj'" v-bind:src="getModel(item.category, item, '.obj')")
                a-asset-item(v-bind:id="index + '-mtl'" v-bind:src="getModel(item.category, item, '.mtl')")
              a-entity(v-bind:id="index", v-bind:obj-model="'obj: #' + index + '-obj; mtl: #' + index + '-mtl'", v-bind:scale="getScale(item)", v-bind:rotation='getRotation(item)', v-bind:position='getPosition(item)')
              //- a-entity(v-bind:id='index', v-bind:gltf-model='getModel(item)', v-bind:position='getPosition(item)', v-bind:scale='getScale(item)', v-bind:rotation='getRotation(item)')
          a-entity(camera="active: true; userHeight: 1.6;",look-controls, wasd-controls)
          a-entity#environment(v-bind:environment='items.environment')
      if(edit)
        div.navbar.overlay-element
          a#logo(href='#')
            div
              div#logo-icon
              div#logo-title Somnio
          button(v-on:click='createApp') Create Scene
        div.sidebar.overlay-element.desktop
          button#home Projects
          button#save(v-on:click='saveScene') Save
          button#environment(v-on:click='setCategory("environment")') Env
          button#furniture(v-on:click='setCategory("furniture")') Objects
          button#delete(v-bind:disabled='currentItem === ""', v-on:click='removeCurrentObject()') Delete
          button#dimensions(v-on:click='setCategory("dimensions")', v-bind:disabled='currentItem === ""') Stretch
          button#position(v-on:click='setCategory("position")', v-bind:disabled='currentItem === ""') Move
          button#rotation(v-on:click='setCategory("rotation")', v-bind:disabled='currentItem === ""') Rotate
          transition(name='fade')
            div#attribute-box(v-if='!!category', v-cloak)
              div(v-if='category === "position" && currentItem !== ""')
                label(for='position-x') X axis
                span {{ items.items[currentItem].position.x }}
                input#position-x(type="range",min="-25",max="25",step="0.1", v-model.number="items.items[currentItem].position.x")
                label(for='position-x') Y axis
                span {{ items.items[currentItem].position.y }}
                input#position-y(type="range",min="-25",max="25",step="0.1", v-model.number="items.items[currentItem].position.y")
                label(for='position-x') Z axis
                span {{ items.items[currentItem].position.z }}
                input#position-z(type="range",min="-25",max="25",step="0.1", v-model.number="items.items[currentItem].position.z")
              div(v-else-if='category === "rotation" && currentItem !== ""')
                label(for='rotation-x') X axis
                span {{ items.items[currentItem].rotation.x }}°
                input#rotation-x(type="range",min="-360",max="360",step="1", v-model.number="items.items[currentItem].rotation.x")
                label(for='rotation-x') Y axis
                span {{ items.items[currentItem].rotation.y }}°
                input#rotation-y(type="range",min="-360",max="360",step="1", v-model.number="items.items[currentItem].rotation.y")
                label(for='rotation-x') Z axis
                span {{ items.items[currentItem].rotation.z }}°
                input#rotation-z(type="range",min="-360",max="360",step="1", v-model.number="items.items[currentItem].rotation.z")
              div(v-else-if='category === "dimensions" && currentItem !== ""')
                label(for='scale-x') X axis
                span {{ items.items[currentItem].scale.x }}
                input#scale-x(type="range",min="0",max="25",step="0.1", v-model.number="items.items[currentItem].scale.x")
                label(for='scale-y') Y axis
                span {{ items.items[currentItem].scale.y }}
                input#scale-y(type="range",min="0",max="25",step="0.1", v-model.number="items.items[currentItem].scale.y")
                label(for='scale-z') Z axis
                span {{ items.items[currentItem].scale.z }}
                input#scale-z(type="range",min="0",max="25",step="0.1", v-model.number="items.items[currentItem].scale.z")
              div.rows(v-else-if='category === "environment"')
                template(v-for='(environment, index) in environmentArray')
                  div.items(v-bind:style="getEnvThumbnail(environment)", v-on:click='setEnvironment(environment[0])')
              div.rows(v-else-if='category === "furniture"')
                template(v-for='(furniture, index) in furnitureArray')
                  div.items(v-bind:style="getObjectThumbnail(furniture, 'furniture')", v-on:click='addObject("model" ,"furniture", furniture[0])')
                  
        div.sliders.overlay-element.mobile
          div.input-slider
            template(v-if='currentItem !== "" && currentItem !== null')
              input#width(type="range",min="0",max="25",step="0.1", v-model.number="items.items[currentItem].width", v-if='attribute === "width"')
              input#height(type="range",min="0",max="25",step="0.1", v-model.number="items.items[currentItem].height", v-if='attribute === "height"')
              input#depth(type="range",min="0",max="25",step="0.1", v-model.number="items.items[currentItem].depth", v-if='attribute === "depth"')
              input#radius(type="range",min="0",max="25",step="0.1", v-model.number="items.items[currentItem].radius", v-if='attribute === "radius"')
              input#position-x(type="range",min="-25",max="25",step="0.1", v-model.number="items.items[currentItem].position.x", v-if='attribute === "position-x"')
              input#position-y(type="range",min="-25",max="25",step="0.1", v-model.number="items.items[currentItem].position.y", v-if='attribute === "position-y"')
              input#position-z(type="range",min="-25",max="25",step="0.1", v-model.number="items.items[currentItem].position.z", v-if='attribute === "position-z"')
              input#rotation-x(type="range",min="-360",max="360",step="1", v-model.number="items.items[currentItem].rotation.x", v-if='attribute === "rotation-x"')
              input#rotation-y(type="range",min="-360",max="360",step="1", v-model.number="items.items[currentItem].rotation.y", v-if='attribute === "rotation-y"')
              input#rotation-z(type="range",min="-360",max="360",step="1", v-model.number="items.items[currentItem].rotation.z", v-if='attribute === "rotation-z"')
              input#scale-x(type="range",min="0",max="25",step="0.1", v-model.number="items.items[currentItem].scale.x", v-if='attribute === "scale-x"')
              input#scale-y(type="range",min="0",max="25",step="0.1", v-model.number="items.items[currentItem].scale.y", v-if='attribute === "scale-y"')
              input#scale-z(type="range",min="0",max="25",step="0.1", v-model.number="items.items[currentItem].scale.z", v-if='attribute === "scale-z"')
          div.attributes(v-if='category !== "" && category !== null')
            template(v-if='category === "dimensions"')
              button(v-on:click='setAttribute("width")') Width
              button(v-on:click='setAttribute("height")') Height
              button(v-on:click='setAttribute("depth")') Depth
              button(v-on:click='setAttribute("radius")') Radius
            template(v-if='category === "position"')
              button(v-on:click='setAttribute("position-x")') X
              button(v-on:click='setAttribute("position-y")') Y
              button(v-on:click='setAttribute("position-z")') Z
            template(v-if='category === "rotation"')
              button(v-on:click='setAttribute("rotation-x")') X
              button(v-on:click='setAttribute("rotation-y")') Y
              button(v-on:click='setAttribute("rotation-z")') Z
            template(v-if='category === "scale"')
              button(v-on:click='setAttribute("scale-x")') X
              button(v-on:click='setAttribute("scale-y")') Y
              button(v-on:click='setAttribute("scale-z")') Z
            //- button(v-on:click='addObject("box")') Add Box
          div.buttons
            button#save(v-on:click='saveScene')
            template(v-if='currentItem !== "" && currentItem !== null')
              button#delete(v-on:click='removeCurrentObject()')
              button#dimensions(v-on:click='setCategory("dimensions")')
              button#position(v-on:click='setCategory("position")')
              button#rotation(v-on:click='setCategory("rotation")')
              button#scale(v-on:click='setCategory("scale")')
          div
            ul(style='color:white')
              li(v-on:click='setEnvironment("forest")') "forest"
              li(v-on:click='setEnvironment("default")')= "default"
              li(v-on:click='setEnvironment("contact")')= "contact"
              li(v-on:click='setEnvironment("egypt")')= "egypt"
              li(v-on:click='setEnvironment("checkerboard")')= "checkerboard"
              li(v-on:click='setEnvironment("japan")')= "japan"
              li(v-on:click='setEnvironment("goaland")')= "goaland"
              li(v-on:click='setEnvironment("goldmine")')= "goldmine"
              li(v-on:click='setEnvironment("threetowers")')= "three towers"
              li(v-on:click='setEnvironment("poison")')= "arches"
              li(v-on:click='setEnvironment("tron")')= "tron"
              li(v-on:click='setEnvironment("oasis")')= "oasis"
      //- video#camera-stream(autoplay, muted, playsinline)
