@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato';
}
.nav {
  background: #000;
  text-align: center;
}
.nav li {
  display: inline-block;
}
.nav a {
  display: inline-block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
.nav a:hover {
  background-color: #3ab795;
  text-decoration: underline;
}
.main-content {
  margin: 50px auto;
  max-width: 600px;
}
.main-content p {
  line-height: 1.6;
  margin-bottom: 1.7em;
}
.footer {
  margin: 50px auto;
  max-width: 600px;
  border-top: 1px solid #444;
  padding: 20px 0;
}
.footer p {
  color: #444;
  font-size: 12px;
}
#cover {
  width: 100%;
  height: 100%;
}
#scene {
  background-color: transparent;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}
#scene .a-canvas {
  height: 100% !important;
  width: 100% !important;
}
.edit .a-enter-vr.embedded {
  /*display: none;*/
}

#camera-stream {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay-element {
  z-index: 2;
}
.sliders {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  background-color: rgba(0,0,0,0.5);
}
.rows > .items {
  height: 100px;
  width: 100%;
  background-size: 100%;
  margin-bottom: 10px;
}
.buttons {
  overflow: auto;
  white-space: nowrap;
}
button {
  text-transform: uppercase;
  padding: 30px;
  padding-bottom: 10px;
  padding-top: 45px;
  background: none;
  background-size: 40px 40px !important;
  background-position: center 8px !important;
  border: none;
  border-radius: 0;
  outline: none;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
}
button#dimensions {
  background: url("/img/cube.svg") no-repeat center;
}
button#dimensions[disabled] {
  background: url("/img/cube-disabled.svg") no-repeat center;
}
button#position {
  background: url("/img/position.svg") no-repeat center;
}
button#position[disabled] {
  background: url("/img/position-disabled.svg") no-repeat center;
}
button#rotation {
  background: url("/img/rotate.svg") no-repeat center;
}
button#rotation[disabled] {
  background: url("/img/rotate-disabled.svg") no-repeat center;
}
button#scale {
  background: url("/img/scale.svg") no-repeat center;
}
button#scale[disabled] {
  background: url("/img/scale-disabled.svg") no-repeat center;
}
button#save {
  background: url("/img/save.svg") no-repeat center;
}
button#delete {
  background: url("/img/delete.svg") no-repeat center;
}
button#delete[disabled] {
  background: url("/img/delete-disabled.svg") no-repeat center;
}
button#environment {
  background: url("/img/environment.svg") no-repeat center;
}
button#home {
  background: url("/img/home.svg") no-repeat center;
}
button#home[disabled] {
  background: url("/img/home-disabled.svg") no-repeat center;
}
button[disabled] {
  color: rgba(255,255,255,0.5);
}
button[disabled]:hover {
  background-color: none !important;
}
button:hover,
button.selected {
  background-color: rgba(10,10,10,0.5) !important;
}
#logo div {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}
#logo #logo-icon {
  background: url("/img/logo.svg") no-repeat center 4px;
  padding: 30px;
}
#logo #logo-title {
  padding: 20px 0;
  float: right;
  padding-right: 20px;
}
.attributes button {
  padding: 10px 30px;
}
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}
.sidebar {
  background: rgba(91,91,91,0.8);
  position: absolute;
  top: 63px;
  height: calc(100vh - 63px);
}
@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
.sidebar button {
  display: block;
  margin: 0 auto;
  width: 90px;
  padding-right: 15px;
  padding-left: 15px;
  transition: 0.5s;
}
.sidebar #attribute-box {
  width: 200px;
  height: calc(100vh - 63px);
  background: rgba(47,47,47,0.852);
  position: absolute;
  top: 0;
  left: 90px;
  padding: 20px;
  overflow-y: auto;
}

.sidebar #attribute-box label,
.sidebar #attribute-box span{
  color: white;
}

.sidebar #attribute-box span {
  float: right;
}

.navbar {
  position: absolute;
  top: 0;
  background: #104f55;
  width: 100vw;
}

.navbar button {
  padding-top: 25px;
  padding-bottom: 25px;
  position: absolute;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 20px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #c7c7c7;
}
input[type=range]:focus::-ms-fill-lower {
  background: #fff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #c7c7c7;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2.4px;
  cursor: pointer;
  box-shadow: 0.9px 0.9px 1.7px rgba(0,0,0,0), 0px 0px 0.9px rgba(13,13,13,0);
  background: #fff;
  border-radius: 4.1px;
  border: 0px solid rgba(0,0,1,0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 2.6px 2.6px 3.7px rgba(0,0,0,0), 0px 0px 2.6px rgba(13,13,13,0);
  border: 1px solid rgba(0,0,0,0);
  height: 20px;
  width: 20px;
  border-radius: 14px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.3px;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2.4px;
  cursor: pointer;
  box-shadow: 0.9px 0.9px 1.7px rgba(0,0,0,0), 0px 0px 0.9px rgba(13,13,13,0);
  background: #fff;
  border-radius: 4.1px;
  border: 0px solid rgba(0,0,1,0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 2.6px 2.6px 3.7px rgba(0,0,0,0), 0px 0px 2.6px rgba(13,13,13,0);
  border: 1px solid rgba(0,0,0,0);
  height: 20px;
  width: 20px;
  border-radius: 14px;
  background: #fff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #fff;
  border: 0px solid rgba(0,0,1,0);
  border-radius: 8.2px;
  box-shadow: 0.9px 0.9px 1.7px rgba(0,0,0,0), 0px 0px 0.9px rgba(13,13,13,0);
}
input[type=range]::-ms-fill-upper {
  background: #fff;
  border: 0px solid rgba(0,0,1,0);
  border-radius: 8.2px;
  box-shadow: 0.9px 0.9px 1.7px rgba(0,0,0,0), 0px 0px 0.9px rgba(13,13,13,0);
}
input[type=range]::-ms-thumb {
  box-shadow: 2.6px 2.6px 3.7px rgba(0,0,0,0), 0px 0px 2.6px rgba(13,13,13,0);
  border: 1px solid rgba(0,0,0,0);
  height: 20px;
  width: 20px;
  border-radius: 14px;
  background: #fff;
  cursor: pointer;
  height: 2.4px;
}

.a-enter-vr-button {
  padding-top: 45px !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
}

[v-cloak] {
  display: none;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}